.main,
.content,
.body {
    min-height: 0 !important;
}

html, body {
    height: 100%;
    overflow: hidden;
}

/* Ключевые фиксы */
.container, .main, .content, .body, .left-content, .right-content {
    min-height: 0;   /* <--- обязательно, чтобы grid не ломал высоту */
}

/* Основной контейнер */
.container {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;  /* чтобы контент не вылезал наружу */
}

/* Основной блок */
.main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    overflow: hidden;
}

/* Контентная зона */
.content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Две колонки внутри контента */
.body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    overflow: hidden;
}

/* Левая колонка */
.left-content {
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

/* Правая колонка */
.right-content {
    max-height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

/* Внутренние блоки текста */
.right-content > div[data-key],
.left-content > div[data-key],
.content-header {
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    min-height: 0;
}

/* Боковое меню */
.sidebar {
    overflow-y: auto;
    min-height: 0;
    overflow-x: hidden;
}
